$logo_font: 'Hind', sans-serif;
$header_font: 'Source Sans Pro', sans-serif;
$background_img: url(../img/m-h-night.jpg);



$colors: (
    main_fonts_color: #fff,
    main_section_bg: rgb(18, 19 ,31),
    link_color: #fff,
    underline_color: rgb(221, 56, 40),
    button_color: rgb(227, 149, 44),
    section_card_background: rgb(55, 53, 60),
    section_card_heading: #fff,
    text_color: lightgrey,
    baner_gradient_left: rgb(222, 141, 43),
    baner_gradient_right: rgb(143, 38, 60)
);